  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}



/* ==================
KEY:

   1.Navigation bar
   2.Background Image
   3.Intro Animation
   4.Page Content
     4.1 Main part 
     4.2 Sidebar on the left 
     4.3 Sidebar on the right 
   5.Mouse Cursor
   6.Footer

   ==================*/

main {
  font-family: "Helvetica", sans-serif;
}

.landing {
  min-height: 100vh;
  background: url("./background.jpg");
  background-size: cover;
  padding: 0rem 5rem;
}

/* ==================
   1.Navigation bar
   ==================*/
nav 
{
  display: flex;
  justify-content: space-between;
  position: fixed;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.nav-links 
{
  display: flex;
  padding: 20px;
  font-family: Helvetica;
}

.nav-links li 
{
  padding-left: 10rem;
  font-size: 1.4rem;
  
}
#logo 
{
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  padding: 15px;
  /* border: 1px solid white; */
}



/* ==================
   2.Background Image
   ==================*/

.big-text 
{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: rgb(255, 255, 255);
}


/* ==================
   3. Intro Animation
   ==================*/


.intro 
{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider 
{
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text 
{
  color: rgb(233, 233, 233);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide 
{
  background: black;
  overflow: hidden;
}

.hide span 
{
  transform: translateY(100%);
  display: inline-block;
}



/* ==================
   4. Page content
   ==================*/

      /* 4.1 Main part */

#content{
  display: grid;
  grid-template-columns: 20% 65% 15%;
  padding: 25px;
  background: linear-gradient(rgb(191, 217, 252), rgb(211, 239, 250));
}


      /* 4.2 Sidebar on the left */


.leftSideBar div
{
  justify-items: center;
  
  text-align:center;
  border: 1px solid white;
  width: 170px;
  height: 40px;
  font-family: "big john", cursive;
  text-decoration: none;
  
}


.leftSideBar div:hover
{
  background: rgb(187, 97, 240);
}

.options li 
{
  
  width: 170px;
  height: 40px;

  font-size: 17px;
  font-weight: 450;

  text-align: center;
  padding-top: 7px;
  border: 1px solid white;
  
  
  margin-left: 170px;
  visibility: hidden;
  position: relative;
  bottom: 24px;
  right:1px;
}

.options li:hover
{
  background: rgb(217, 228, 243);
}


.leftSideBar div:hover > .options li
{
  visibility: visible;
}

    /* 4.3 Sidebar on the right */


.rightSideBar p
{
  border: 1px solid black;
}

/* ==================
   5. Mouse cursor 
   ==================*/
a
{
  text-decoration: none;
  color: black;
}
a:hover
{
  text-decoration:underline;
}


/* ==================
   6. Footer
   ==================*/

footer{
  
}